{% extends 'base.html' %}
{% block content %}

<h1>P<img id = "pball" src="https://www.freepnglogos.com/uploads/pokeball-png/pokeball-pokemon-theme-team-ideas-for-pokemon-sun-and-moon-24.png">ke Search</h1>
<p>Welcome to Poke Search!</p>
<p>Type names of pokemon to get some of their stats!</p>


<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.pokemon_name(class='form-control',placeholder='Enter Pokemon Name')}}
    <br>
    <div class="text-center">{{ form.submit(class='btn btn-danger text-center') }}</div>
    
</form>
<br>

{% if not_valid_pokemon %}
<p>Sorry, "{{not_valid_pokemon}}" is not a valid Pokemon</p>
{% endif %}
{% if pokeguess %}
<p>Did you mean to type "{{pokeguess}}"?</p>
{% endif %}
{% if not_valid_form %}
<p>You submitted an invalid form, please try again</p>
{% endif %}

{% if poke_results %}
<div class="card-holder">
<div class="card" style="width: 18rem;">
    <img src="{{poke_results['photo']}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><b>{{poke_results['name']}}</b> <small>(#{{poke_results['poke_id']}})</small></h5>
        <p class="card-text card-stats">Ability: <span style="float:right">{{poke_results['ability']}}</span></p>
        <p class="card-text card-stats">Base Experience: <span style="float:right">{{poke_results['base experience']}}</span></p>
        <p class="card-text card-stats">Attack Base Stat: <span style="float:right">{{poke_results['attack base stat']}}</span></p>
        <p class="card-text card-stats">Defense Base Stat: <span style="float:right">{{poke_results['defense stat']}}</span></p>
        <p class="card-text card-stats">HP Base Stat: <span style="float:right">{{poke_results['hp base stat']}}</span></p>
    </div>
</div>
</div>

<br>

{% endif %}


{% endblock %}