{% extends 'base.html' %}

{% block content %}
<h1>Sign Up</h1>
<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.email(class='form-control', placeholder='Email') }}
    <br>
    {{ form.first_name(class='form-control', placeholder='First Name') }}
    <br>
    {{ form.last_name(class='form-control', placeholder='Last Name') }}
    <br>
    {{ form.password(class='form-control', placeholder='Password') }}
    <br>
    {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}
    <br>
    {{ form.submit(class='btn btn-danger') }}
</form>
<br>
{% if not_valid_form %}
<p>There was an issue with your form, make sure to enter all required info and have matching passwords</p>
{% endif %}
{% if invalid_email %}
<p>The email you entered in not valid, please make sure to only enter valid emails</p>
{% endif %}
{% if existing_account %}
<p>There is already an account with this email address. Please pick another email address or sign in with your already existing account</p>
{% endif %}


{% endblock %}